#body {
    background-image: url(./notePad.png);
    background-size:cover
    /* height: 190; */
    /* width: 330; */
}

#todoForm {
    text-align: center;

}

.ulList {

}

#userInput {
    background-color: darkgray;
    color:rgb(117, 0, 128)
}